name: Nightly

on:
  workflow_dispatch:
  schedule:
    - cron: "17 7 * * *"

jobs:
  compliance-audit:
    name: "Compliance Audit"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      # Run the auth action first, to fail fast if connection with Google Cloud
      # has not been configured correctly.
      #
      # This avoids wasting GitHub Action minutes on preceding steps in case of an
      # authentication failure. The other steps in the job are unlikely to fail.
      - uses: "google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093" # v3.0.0
        with:
          project_id: ${{ vars.GCP_PROJECT_ID }}
          workload_identity_provider: ${{ vars.GCP_WORKLOAD_IDENTITY_PROVIDER }}

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      - run: nix run .#nix-develop .#workflow

      - run: ./node_modules/.bin/tsc --build
      - run: node dist/bin/turma.js
